# gradle

.gradle/
build/
out/
classes/

# stonecutter

versions/*/build/
versions/*/src/
versions/*/.gradle/
.stonecutter/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
